@media only screen and (max-width:900px) {
    body {
      background-color: rgb(29, 29, 29);
    }
    .sec{
        max-width: 100%;
        height: auto;
        display:flex;
        position:relative;
        background-size: cover;
        background-position: center;
        background-color: black;
        flex-direction: column-reverse;
    }
    .secc1 {
        width: 100%;
        HEIGHT: AUTO;
    }

    .secb{
        margin-top: 0%;
        margin-left: 0%;
        font-family: 'Fredoka One', cursive;
        color: rgb(255, 255, 255);
    }
  
     .secb2{
        border-radius:50%;
        overflow: hidden;
        margin-right: 0px;
      } 
     
      .secc2 {
        width: 100%;
        height: 50%;
        padding: 22px;
    }
        img {
            width: 100%;
            height: 326px;
            MARGIN-TOP: 2PX;
        }

  .about{
    max-width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    position:relative;
    background: linear-gradient(to left, #000000 0%, #151515 100%);
    font-family: 'Fredoka One', cursive;
    
 }

 .absec1{
     width: 100%;   
  }

 .absec2{
    width: 100%;
  }
 .boxx2 {
    padding: 33px;
    margin-top: 0%;
 }
   
 span#typing {
  color: #ffbebe;
   animation: Text 5s ease-in infinite;
  }

 @keyframes Text{
  from{color: rgb(255, 11, 11);}
  to{color:rgb(212, 255, 22)}
 }

 .skills{
  max-width: 100%;
  height: 70%;
  margin-top: 0%;
  TEXT-align: center;
  font-family: 'Fredoka One', cursive;
  font-family: 'Fredoka One', cursive;
  margin-bottom: 3px;
  color: white;
 }

 .projects {
  padding: 2px;
  height: auto;
  width: 100%;
  display: flex;
  margin-bottom: 35px;
 }


 p.hee {
  FONT-SIZE: 40PX;
  BACKGROUND-COLOR: BLACK;
  COLOR: WHITE;
  font-family: 'Bebas Neue', cursive;
 }



 button {
  background: linear-gradient(to right, #000000 1%, #000000 99%);
  BORDER: NONE;
  PADDING: 6PX;
  transition: 0.2S ease-in-out;
  color: white;
 }

 .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: rgb(253 47 47 / 90%);
 }

 .footer {
  margin-top: -12px;
  height: 200px;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right, #000000 1%, #3a3a3a 99%);
 }

 .secc1 {
  text-align: center;
  font-size: 18px;
 }

 .h3, h3 {
  font-size: 1.75rem;
  margin-bottom: 0;
 }

 img.ima {
  padding: 22px;
  height: 467px;
  border-radius: 141px;
  margin-top: 31px;
 }

 p.abp {
  font-size: 16px;
  color: #ffffff;
  z-index: 1;
 }

 img.pimg {
  height: 140px;
  border: 2px solid white;
 }

 .pbox {
  padding: 10px;
  transition: 0.2s ease-in-out;
  height: 231PX;
  margin-top: 33px;
 }

 img.pimg:hover {
  height: 160px;
  box-shadow: 0 10px 10px -5px;
 }
}
