@media only screen and (max-width:900px) {
    body {
      background-color: lightblue;
    }
    .sec{
        max-width: 100%;
        height: auto;
        display:flex;
        position:relative;
        background: linear-gradient(to bottom right, #9966ff 0%, #ffccff 100%);
        flex-direction: column-reverse;
    }
    .secc1 {
        width: 100%;
        HEIGHT: AUTO;
    }

    .secb{
        margin-top: 0%;
        margin-left: 0%;
        font-family: 'Fredoka One', cursive;
        color: rgb(0, 0, 0);
    }
  
     .secb2{
        border-radius:50%;
        overflow: hidden;
        margin-right: 0px;
      } 
     
      .secc2 {
        width: 100%;
        height: 50%;
        padding: 22px;
    }
        img {
            width: 100%;
            height: 326px;
            MARGIN-TOP: 2PX;
        }

  .about{
    max-width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    position:relative;
    background: linear-gradient(to left, #66ffff 0%, #0099ff 100%);
    font-family: 'Fredoka One', cursive;
 }

 .absec1{
     width: 100%;   
  }

 .absec2{
    width: 100%;
  }
.boxx2 {
    padding: 33px;
    margin-top: 0%;
}
   
}