*{
    padding: 0px;
    margin: 0px;
}
p{
    margin-top: 0;
    margin-bottom: 0rem;   
}

.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
    font-size: 31px;
    font-family: 'Anton', sans-serif;
}


h1 {
 font-size: 60px;
 background: -webkit-linear-gradient(#ffffff,#6e6e6e );
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent; 
}
html {
    scroll-behavior: smooth;
  }
.h3, h3 {
    font-size: 2.75rem;
    margin-bottom: 0;
}

.bg-light {
    font-family: 'Fredoka One', cursive;
    background: linear-gradient(to right, #000000 1%, #353535 99%);
}

.sec{
    max-width: 100%;
    height: 93vh;
    display:flex;
    position:relative;
    /* background: linear-gradient(to bottom right, #fc0000 0%, #ffccff 100%); */
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
   
}    
.secc1{
   width: 50%;
   height: 92.50vh;
   text-align: left;
   padding: 33px;
}
.secb{
    margin-top: 32%;
    margin-left: 10%;
    font-family: 'Fredoka One', cursive;
    color: rgb(255, 255, 255);
}
 img {
    margin-left: 0px;
    width: 100%;
    height: 599px;       
}

.secb2{
  border-radius:50%;
  overflow: hidden;
  margin-right: 33px;
}

.secc2{
   width: 50%;
    height: 92.50vh; 
}
.typing{
    color: rgb(255, 0, 0); 
}

.about{
    max-width: 100%;
    height: 100vh;
    display:flex;
    position:relative;
    background-image: url("2bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Fredoka One', cursive;
    color: white;
}

.absec1{
    width: 40%;  
}
.absec2{
    width: 60%;
    position: relative;
}
.boxx2{
 
  padding: 33px;
  margin-top: 20%;
}

img.ima {
    padding: 22px;
    height: 626px;
    border-radius: 141px;
    margin-top: 31px;
}

.skills{
    max-width: 100%;
    height: 90vh;
    margin-top: 0%;
    TEXT-align: center;
    font-family: 'Fredoka One', cursive;
    background-image: url("3bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Fredoka One', cursive;
    color: white;
}

.bar {
    padding: 9px;
    margin: 5px 3px;
}

progress {
    vertical-align: baseline;
    width: 266px;
}

button {
    background: linear-gradient(to right, #000000 1%, #333333 99%);
    BORDER: NONE;
    PADDING: 6PX;
    transition: 0.2S ease-in-out;
    color: white;
}

button:hover {
    cursor: pointer;
    BACKGROUND-COLOR: #9e6bff;
    background: linear-gradient(to right, #000000 1%, #9c9c9c 99%);
    BORDER: NONE;
    PADDING: 8PX;
    border-right: 0.5PX SOLID GREEN;
}

.projects{
    padding: 33px;
    height: auto;
    width: 100%;
    display:flex;
    justify-content:space-between;
}

.pbox{
    padding:30px; 
    transition:0.2s ease-in-out;
    height: 373px; 
}
.pbox:hover{
    padding: 20px;
}
img.pimg {
    height: 373px;  
}

img.pimg:hover {
    height: 373px;  
    box-shadow: 0 10px 10px -5px; 
}

.hee{
    text-align: center;
    text-transform: capitalize; 
}
p.hee {
    FONT-SIZE: 55PX;
    BACKGROUND-COLOR: BLACK;
    COLOR: WHITE;
}
a:hover {
    color: #ffffff;
    text-decoration: underline;
}
.pcontainer{
    background-image: url("4bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgb(253 47 47 / 90%);
}
